#root {
	padding: 1rem;
	min-height: 100vh;
	display: flex;
	max-width: fit-content;
	margin: auto;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

body {
	background: linear-gradient(to bottom, #d4b8e1, #c79dd8);
}
