@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
	overflow: auto;
	overflow-x: hidden;
}

@keyframes fadeSlideIn {
	from {
		opacity: 0;
		transform: translateY(-8px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.login-enter {
	animation-name: fadeSlideIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes enterAnimation {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.app-enter {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: enterAnimation;
}
